@import 'core/_imports';

// ------------------------------------------------------------------------- //
// COMMON COMPONENTS
// ------------------------------------------------------------------------- //
.inscription {
    position: relative;
    padding: 5px;
    font-family: $font-primary-bold;
    font-size: em(22);
    line-height: 1.1;
    background: $bg-color-primary;
    max-width: 800px;
    text-align: center;

    .inscription-content {
        position: relative;
        padding: 20px 40px;
        border: 2px dashed $copy-color-primary;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            height: 19px;
            width: 100%;
        }

        &::before {
            left: 30px;
            transform: translate(-100%, -50%);
            background: center right no-repeat;
            background-image: url('#{$get-path-to-images}/rope-left-side.png');
        }

        &::after {
            right: 30px;
            transform: translate(100%, -50%);
            background: center left no-repeat;
            background-image: url('#{$get-path-to-images}/rope-right-side.png');
        }
    }

    .btn {
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translate(-50%, 100%);
    }
}

// BUTTONS
.btn {
    box-sizing: border-box;
    display: inline-block;
    padding: $btn-padding-ver $btn-padding-hor;
    width: auto;
    min-width: $btn-min-width;
    min-height: $btn-min-height;
    border: none;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    font-family: $font-primary;
    font-size: em(36);
    transition: all 0.4s;
    background: $btn-bg-color;
    color: $btn-color;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    &,
    &:visited,
    &:focus,
    &:active,
    &.disabled,
    &[disabled],
    &.disabled:hover,
    &[disabled]:hover {
        background: $btn-bg-color;
        text-decoration: none;
        color: $btn-color;
    }

    &:hover {
        &,
        &:visited,
        &:focus,
        &:active {
            background: $btn-bg-color-hover;
            color: $btn-color-hover;
        }
    }
}

.btn-link {
    border: none;
    background: none;
    font-family: $font-primary;
    font-size: em(26);
    text-underline-offset: 5px;
    color: $copy-color-secondary;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

// INPUT
input[type='text'] {
    padding: 10px 40px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid $decor-color-primary;
    box-shadow: none;
    font-family: $font-primary;
    font-size: em(20);
    text-align: center;

    &::placeholder {
        text-transform: uppercase;
        font-size: em(13);
    }
}

// ------------------------------------------------------------------------- //
// CREATE CHARACTER STAGE
// ------------------------------------------------------------------------- //
.inscription {
    .inscription-title {
        margin: 0 0 20px;
        font-family: $font-primary;
    }
}

.character-name {
    margin: 0 0 20px;
}

.character-selection {
    display: flex;
    justify-content: space-around;
}

.character-figure-wrapper {
    position: relative;
    width: 40%;

    .character-figure {
        position: relative;
        opacity: 0.65;
        transition: all 0.4s;

        &::after {
            content: '';
            display: block;
            margin: -25px 0 0;
            border-radius: 80%;
            background: #aaa;
            width: 100%;
            height: 30px;
            transition: all 0.4s;
        }

        &:hover {
            opacity: 1;

            &::after {
                background-color: $decor-color-primary;
            }
        }
    }

    input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;

        &:checked ~ .character-figure {
            opacity: 1;

            &::after {
                background-color: $decor-color-primary;
            }
        }
    }
}

// ------------------------------------------------------------------------- //
// QUESTIONS STAGE
// ------------------------------------------------------------------------- //
.signs-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 165px 0 0;
    width: 100%;

    .sign {
        width: 375px;
        height: 383px;
        background: top center no-repeat;

        &.left {
            background-image: url('#{$get-path-to-images}/sign-left-bg.png');

            .sign-caption,
            .sign-choice {
                transform: rotate(-5deg);
            }
        }

        &.right {
            background-image: url('#{$get-path-to-images}/sign-right-bg.png');

            .sign-caption,
            .sign-choice {
                transform: rotate(5deg);
            }
        }

        .sign-caption {
            display: flex;
            align-items: center;
            margin: 0 auto 0;
            padding: 65px 0 14px;
            width: 75%;
            height: 155px;
            font-family: $font-accent;
            font-size: em(18);
            text-align: center;
            color: $copy-color-primary-inverse;
        }
    }
}

// SWITCHING BUTTON
.sign-choice {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px 0 0;

    input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
    }

    .sign-value {
        display: block;

        &::after {
            content: 'Выбрать';
            display: flex;
            align-items: center;
            justify-content: center;
            width: 355px;
            height: 93px;
            font-family: $font-accent;
            font-size: em(40);
            color: $white;
            background-image: url('#{$get-path-to-images}/button-choose-bg.png');
            background-position: center -12px;
            text-transform: uppercase;
        }

        &:hover {
            &::after {
                background-position: center 781px;
            }
        }
    }

    input:checked ~ .sign-value {
        &::after {
            content: 'Выбрано';
            background-position: center 781px;
        }
    }
}

// ------------------------------------------------------------------------- //
// PRIORITY STAGE
// ------------------------------------------------------------------------- //
.priority-choices {
    input {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        opacity: 0;
    }
    label input:checked ~ .cloud-option,
    .cloud-option:hover {
        background-position: -422px -10px;
    }
}

.cloud-option {
    position: absolute;
    width: 392px;
    height: 228px;
    background: -10px -9px;
    background-image: url('#{$get-path-to-images}/cloud-option-bg-2.png');
    cursor: pointer;

    &.option-1,
    &.option-2 {
        top: 170px;
    }

    &.option-3,
    &.option-4 {
        top: 400px;
    }

    &.option-1 {
        left: 130px;
    }

    &.option-2 {
        right: 130px;
    }

    &.option-3 {
        left: 0;
    }

    &.option-4 {
        right: 0;
    }

    .option-order {
        font-family: $font-accent;
        font-size: em(60);
        height: 72px;
        color: $copy-color-secondary;
        text-align: center;
    }

    .option-caption {
        margin: 0 auto;
        width: 70%;
        text-align: center;
        font-size: em(18);
        line-height: 1.2;
        color: $copy-color-primary;
    }
}

// ------------------------------------------------------------------------- //
// RESULT STAGE
// ------------------------------------------------------------------------- //
.results {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.scroll {
    padding: 20px 0 50px;
    box-sizing: border-box;
    background: top center no-repeat;
    width: 356px;
    height: 490px;
    text-align: center;

    &.left {
        padding-left: 35px;
        padding-right: 35px;
        background-image: url('#{$get-path-to-images}/scroll-left-bg.png');

        .btn-link {
            margin: 0 0 0 50px;
        }
    }

    &.right {
        padding-right: 30px;
        padding-left: 40px;
        background-image: url('#{$get-path-to-images}/scroll-right-bg.png');

        .btn-link {
            margin: 0 50px 0 0;
        }
    }

    .scroll-title {
        margin: 0 0 10px;
        font-size: em(27);
    }

    .scroll-character-info {
        font-family: $font-text;
        font-size: em(15);
        line-height: 1;
        height: 375px;
    }
}
